* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 40px 0px;
  font-weight: normal;
}

table {
  width: 900px;
  margin: 0px auto;
  border-collapse: collapse;
}

table thead {
  font-weight: bold;
}

table td {
  font-size: 20px;
  padding: 20px;
  border: solid 1px black;
}
