* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabela {
  border-collapse: collapse;
}

.tabela .tabela-cabecalho {
  font-weight: bold;
}

.tabela td {
  padding: 10px;
  border: solid black 1px;
  font-size: 20px;
}
