* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo-formulario {
  text-align: center;
  padding: 20px 0px;
}

.formulario {
  width: 635px;
  margin: 0px auto;
  border: solid black 1.5px;
  padding: 20px;
}

.form {
  width: 100%;
  padding: 5px;
}

.form-radio {
  text-align: center;
  border: solid #767676 1px;
  padding: 8px;
}

.form-radio .radio-item {
  margin: 0px 5px;
}

.container-botoes {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.botao {
  padding: 5px;
  font-size: 20px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.botao:hover {
  opacity: 0.8;
  transform: scale(1.3);
}

.botao-enviar {
  background-color: #028bfc;
}

.botao-cancelar {
  background-color: #f56666;
}
