* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  margin-top: 5vh;
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

div.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.flex-item {
  width: 150px;
  height: 150px;
  background-color: rgb(49, 47, 47);
}
